<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">

<th:block layout:fragment="customCss">
	<!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="customTitle">
	<title>분양동물 기간관리 수정</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>분양동물 기간관리 수정</h2>
				</div>
				<form action="/petadoption/petAdoptionUpdate" method="post">
					<input type="hidden" name="petAdoptionCode" th:value="${PA.petAdoptionCode}">
				<div class="body">
					<div class="clearfix">
							<div class="row">
				      			<div class="col-md-6">
				      				<b>회원 아이디</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memeberId" th:value="${PA.member.memberId}" class="form-control"  readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-6">
				      				<b>입양인 이름</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memberName" th:value="${PA.member.memberName}" class="form-control"  readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
					      		<div class="col-md-4">
					           		<b>현재 상태</b>
					           		<div class="input-group">
						           		<select class="form-control" name="petAdoptionState">
						           			<option value="">====== 선택 ======</option>
						           			<option value="관리 진행중" th:selected="(${PA.petAdoptionState} == '관리 진행중')">관리 진행중</option>
			            					<option value="관리 완료" th:selected="(${PA.petAdoptionState} == '관리 완료')" >관리 완료</option>
			            					<option value="중도 포기" th:selected="(${PA.petAdoptionState} == '중도 포기')">중도 포기</option>
			            				</select>
					           		</div>
			           			</div>
			           			<div class="col-md-4">
			                    <b>입양관리 시작 날짜</b>
			                    <div class="input-group colorpicker colorpicker-element">
			                        <div class="form-line">
			                            <input type="Date" name="petAdoptionManagementDate" th:value="${PA.petAdoptionManagementDate}" class="form-control">
			                        </div>
			                    </div>
			                	</div>
			                	<div class="col-md-4">
			                    	<b>입양관리 종료 날짜</b>
				                    <div class="input-group colorpicker colorpicker-element">
				                        <div class="form-line">
				                            <input type="Date" name="petAdoptionEndDate" th:value="${PA.petAdoptionEndDate}" class="form-control">
				                        </div>
				                    </div>
			                	</div>
			        	</div>
           			</div>
           		</div>
				 <div class="body">
	            	<button type="submit" class="btn bg-amber btn-block btn-lg waves-effect">분양동물 기간관리 수정</button>
	            </div>
	      		</form>
	      		</div>
			</div>
				
	</section>
</th:block> 

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>
