<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
 <th:block layout:fragment="customTitle">
 	<title>관리자화면</title>
 </th:block> 
<th:block layout:fragment="customCss">
 
 </th:block>
<th:block layout:fragment="customHeadScript">
 	
 </th:block> 
	 
 <th:block layout:fragment="customContents">
 </th:block> 
 

 <th:block layout:fragment="customFooterScript">

 
 </th:block>

</html>