<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
            <div class="card">
            	<div class="header">
            		<h2>
            			사료관리 수정
            		</h2>
            	</div>
            	<div class="body">
            		<form action="/petItem/petFoodUpdate" method="post">
            			<div class="row">
            				<div class="col-md-4">
			            		<div class="input-group">
									사료종류
									<div>
										<select name="foodType">
											<option>-- 종류선택 --</option>
											<option th:each="aniType : ${aniTypeCnt}" th:value="${aniType.animalType}" th:selected="(${aniType.animalType} == ${petFood.foodType})">-- [[${aniType.animalType}]] --</option>
										</select>
										<input type="hidden" name="foodCode" th:value="${petFood.foodCode}">
									</div>
								</div>
            				</div>
            				<div class="col-md-4">
            					<div class="input-group">
			                        <div class="form-line">
										사료이름
			                            <input id="foodName" type="text" class="form-control" name="foodName" th:value="${petFood.foodName}">
			                        </div>
								</div>
            				</div>
            				<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										사료회사
			                            <input id="foodCompany" type="text" class="form-control" name="foodCompany" th:value="${petFood.foodCompany}">
			                        </div>
								</div>
            				</div>
            			</div>
						<div class="row">
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										사료단가
			                            <input id="foodPrice" type="number" class="form-control" name="foodPrice" th:value="${petFood.foodPrice}">
			                        </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										총수량
			                            <input type="number" class="form-control" name="foodAmount" th:value="${petFood.foodAmount}" readonly="readonly">
			                        </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										제고량
			                            <input type="number" class="form-control" name="foodRemain" th:value="${petFood.foodRemain}" readonly="readonly">
			                        </div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="input-group">
									<div class="form-line">
										사용량
										<input id="usingfoodAmount" type="number" class="form-control" name="usingfoodAmount" value="0">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<div class="form-line">
										구입량
										<input id="buyfoodAmount" type="number" class="form-control" name="buyfoodAmount" value="0">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										구매인
			                            <input id="foodBuyer" type="text" class="form-control" name="foodBuyer" th:value="${petFood.foodBuyer}">
			                        </div>
								</div>
							</div>
						</div>
						<button class="btn btn-block bg-amber waves-effect" type="submit">유기동물보호등록</button>
					</form>
            	</div>
            </div>	
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
	<link href="../../plugins/multi-select/css/multi-select.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</th:block>

<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			var checkValue = function(obj, msg){
				if(obj.val() == ''){
					alert(msg);
					obj.focus();
					
					return true;
				}
				return false;
			}
			
			$('#petFoodBtn').click(function(){
				if(checkValue($('#foodName'), 		'사료종류를 입력해주세요')) 	return;
				if(checkValue($('#foodCompany'), 	'사료회사을 입력해주세요')) 	return;
				if(checkValue($('#foodPrice'), 		'사료가격을을 입력해주세요'))return;
				if(checkValue($('#foodBuyer'), 		'구매인을 입력해주세요')) 	return;
				var usingfoodAmount = $('#usingfoodAmount').val();
				if(usingfoodAmount != 0 || usingfoodAmount == ''){
					alert("!!!");
					return;
				}
				
				$('#petFoodForm').submit();
			});
		});
	</script>
</th:block>
 
</html>