<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.CompanionAnimalRegisterMapper">
	
	<resultMap type="CompanionAnimalRegister" id="companionAnimalRegisterResultMap">
		<result property="companionAnimalRegisterCode" column="companion_animal_register_code"></result>
		<result property="animalInformation" column="animal_information"></result>
		<result property="companionRegisterDate" column="companion_register_date"></result>
		<result property="cancleCompanionInDate" column="cancle_companion_in_date"></result>
		
		<association property="staff" javaType="Staff">
			<result property="staffCode" column="staff_code"></result>
			<result property="staffName" column="staff_name"></result>
		</association>
		
		<association property="animalCenter" javaType="AnimalCenter">
			<result property="animalGender" column="animal_gender"></result>
			<result property="animalAge" column="animal_age"></result>
			<result property="animalCenterNumber" column="animal_center_number"></result>
			<result property="animalInsertCode" column="animal_insert_code"></result>
		</association>
		
		<association property="protectionSpace" javaType="ProtectionSpace">
			<result property="protectSpaceCode" column="pro_space_code"></result>
		</association>
	</resultMap>
	
	<!-- 리스트 -->
	<select id="selectCompanionAnimalRegisterList" 
	resultType="CompanionAnimalRegister"
	resultMap="companionAnimalRegisterResultMap">
		SELECT 
			 companion_animal_register_code
			,aniI.animal_center_number
			,aniI.animal_insert_code
			,animal_information
			,companion_register_date
			,cancle_companion_in_date
			,pro_space_code
			,s.staff_name
		FROM
			tb_animal_insert AS aniI
			INNER join
			tb_companion_animal_register AS car
			INNER join
			tb_staff AS s
			on
			aniI.animal_insert_code=car.animal_insert_code
			and
			s.staff_code=car.staff_code;
	</select>
	
	<!-- 코드로 찾기 -->
	<select id="selectCompanionAnimalRegister" parameterType="String" resultMap="companionAnimalRegisterResultMap">
		SELECT 
			companion_animal_register_code, 
			animal_insert_code, 
			animal_information, 
			companion_register_date, 
			cancle_companion_in_date, 
			pro_space_code, 
			staff_code
		FROM 
			tb_companion_animal_register
		WHERE
			companion_animal_register_code=#{companionAnimalRegisterCode};
	
	</select>
	
	<!-- 등록 -->
	<insert	id="insertCompanionAnimalRegister" parameterType="CompanionAnimalRegister">
 		
 		<selectKey resultType="String" order="BEFORE" keyProperty="companionAnimalRegisterCode">
 			SELECT 
 				CONCAT('CARC_', MAX(CAST(SUBSTRING(companion_animal_register_code,6) AS DECIMAL)+1)) AS companion_animal_register_code
			FROM tb_companion_animal_register
 		</selectKey>
 			INSERT INTO tb_companion_animal_register
			(companion_animal_register_code, animal_insert_code, animal_information, companion_register_date, cancle_companion_in_date, pro_space_code, staff_code)
			VALUES (
					#{companionAnimalRegisterCode},
					#{animalCenter.animalInsertCode}, 
					#{animalInformation},
					NOW(),
					#{cancleCompanionInDate},
					#{protectionSpace.protectSpaceCode},
					#{staff.staffCode}
					);
	</insert>
	
	<!-- 수정 -->
	
	<update id="updateCompanionAnimalRegister" parameterType="CompanionAnimalRegister">
		
		UPDATE tb_companion_animal_register
		SET
			animal_information=#{animalInformation},
			cancle_companion_in_date=#{cancleCompanionInDate}
		WHERE
			companion_animal_register_code=#{companionAnimalRegisterCode};
	
	</update>
	
	<select id="selectCenterAnimal" resultMap="companionAnimalRegisterResultMap" parameterType="String">
		SELECT
			*
		FROM 
			tb_companion_animal_register AS c
		JOIN 
			tb_animal_insert AS i
		ON
			c.animal_insert_code = i.animal_insert_code
		WHERE 
			companion_animal_register_code = #{companionAnimalRegisterCode};
	</select>
	
	<!-- 삭제 -->
	<delete id="deleteCompanionAnimalRegister" parameterType="String">
		DELETE 
		FROM 
			tb_companion_animal_register 
		WHERE 
			companion_animal_register_code=#{companionAnimalRegisterCode};
	</delete>
</mapper>