<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.ImplementMapper">
	<resultMap type="Implement" id="imResultMap">
		<result property="implementCode" 			column="implement_code"/>
		<result property="implementType" 			column="implement_type"/>
		<result property="implementAmount" 			column="implement_amount"/>
		<result property="implementReceiptCount" 	column="implement_receipt_count"/>
		<result property="implementRemain" 			column="implement_remain"/>
		<result property="implementBreakageAmount" 	column="implement_breakage_amount"/>
		<result property="implementPrice" 			column="implement_price"/>
		<result property="staffCode" 				column="staff_code"/>
		<result property="implementRegDate" 		column="implement_reg_date"/>
	</resultMap>
	
	<!-- <delete id="deleteImplement" parameterType="String">
		implementCode
	</delete> -->
	
	<select id="selectImplementUseCountByCode" parameterType="String" resultType="Map">
		SELECT 
			 u.implementCode
			,u.cnt
		FROM
			(
				(
					SELECT
						 s.implement_code	AS implementCode
						,COUNT(*)			AS cnt
					FROM 
						tb_protect_space AS s
					WHERE
						s.use_state='사용중'
					GROUP BY s.implement_code
				)
				UNION
				(
					SELECT
						 g.implement_code	AS implementCode
						,COUNT(*)			AS cnt
					FROM
						tb_pet_goods AS g
					GROUP BY g.implement_code
				)
			) AS u
		WHERE 
			u.implementCode = #{implementCode};
			
	</select>
	
	<select id="selectImplementUseCount" resultType="Map">
		(
		SELECT
			 s.implement_code	AS implementCode
			,COUNT(*)			AS cnt
		FROM 
			tb_protect_space AS s
		WHERE
			s.use_state='사용중'
		GROUP BY s.implement_code
		)
		UNION
		(
		SELECT
			 g.implement_code	AS implementCode
			,COUNT(*)			AS cnt
		FROM
			tb_pet_goods AS g
		GROUP BY g.implement_code
		);
	</select>
	
	<!-- 시설 수정 처리 -->
	<update id="updateImplement" parameterType="Implement">
		UPDATE tb_implement
		SET
			 implement_type=#{implementType}
			,implement_amount=#{implementAmount}
			,implement_receipt_count=#{implementReceiptCount}
			,implement_remain=#{implementRemain}
			,implement_breakage_amount=#{implementBreakageAmount}
			,implement_price=#{implementPrice}
			,staff_code=#{staffCode}
			,implement_reg_date=#{implementRegDate}
		WHERE 
			implement_code=#{implementCode}
	</update>
	
	<!-- 시설을 코드로 찾기 -->
	<select id="selectImplementByCode" parameterType="String" resultMap="imResultMap">
		SELECT 
			 implement_code
			,implement_type
			,implement_amount
			,implement_receipt_count
			,implement_remain
			,implement_breakage_amount
			,implement_price
			,staff_code
			,implement_reg_date
		FROM 
			tb_implement
		WHERE
			implement_code=#{implementCode};
	</select>

	<!-- 모든 시설 찾기 -->
	<select id="selectImplement" resultMap="imResultMap">
		SELECT 
			 implement_code
			,implement_type
			,implement_amount
			,implement_receipt_count
			,implement_remain
			,implement_breakage_amount
			,implement_price
			,staff_code
			,implement_reg_date
		FROM 
			tb_implement;
	</select>
</mapper>