<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.NoticeMapper">
	<resultMap type="Board" id="getNoticeMap">
		<result property="board_code" column="notice_board_code"></result>
		<result property="member_id" column="member_id"></result>
		<result property="board_title" column="notice_board_title"></result>
		<result property="board_content" column="notice_board_content"></result>
		<result property="board_addfile" column="notice_board_addfile"></result>
		<result property="board_date" column="notice_board_date"></result>
		<result property="board_delete_date" column="notice_board_delete_date"></result>
		<result property="board_ip" column="notice_board_ip"></result>
	</resultMap>
	
	<insert id="insertNotice" parameterType="Board">
		<selectKey order="BEFORE" keyProperty="board_code" resultType="String">
			Select
			(	case count(*)
				when 0 then 'notice_board_code_1'
				else CONCAT('notice_board_code_',max(cast(SUBSTRING(notice_board_code,19) as decimal))+1)
				END) 
				as notice_board_code FROM tb_notice_board
		</selectKey>
		INSERT INTO tb_notice_board
		(notice_board_code, member_id, notice_board_title, notice_board_content, notice_board_addfile, notice_board_date, notice_board_delete_date, notice_board_ip)
		VALUES (#{board_code}, 'id001', #{board_title}, #{board_content}, '0', NOW(), '0000-00-00', #{board_ip})
	</insert>
	
	<select id="selectPosts" resultMap="getNoticeMap">
		SELECT * FROM tb_notice_board WHERE notice_board_code = #{board_code}
	</select>
	
	<select id="selectNotice" resultMap="getNoticeMap">
		SELECT *FROM tb_notice_board ORDER BY cast(SUBSTRING(notice_board_code,19) as decimal) DESC
	</select>
</mapper>