<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.PetItemMapper">
	<resultMap type="PetFood" id="pfResultMap">
		<result property="foodCode" 		column="pet_food_code"/>
		<result property="foodCompany"		column="pet_food_company"/>
		<result property="foodType" 		column="pet_food_type"/>
		<result property="foodPrice" 		column="pet_food_price"/>
		<result property="foodAmount" 		column="pet_food_amount"/>
		<result property="foodRemain" 		column="pet_food_remain"/>
		<result property="foodName" 		column="pet_food_name"/>
		<result property="foodBuyer" 		column="pet_food_buyer"/>
		<result property="foodPurchaseDate" column="pet_food_purchase_date"/>
	</resultMap>
	
	<resultMap type="PetGoods" id="pgResultMap">
		<result property="petGoodsCode" 	column="pet_goods_code"/>
		<result property="implementCode" 	column="implement_code"/>
		<result property="animalInsertCode" column="animal_insert_code"/>
		<result property="staffCode" 		column="staff_code"/>
		<result property="petGoodsRegDate" 	column="pet_goods_reg_date"/>
	</resultMap>
	
	<delete id="deletePetGoods" parameterType="String">
		DELETE 
		FROM 
			tb_pet_goods 
		WHERE 
			pet_goods_code=#{petGoodsCode};
	</delete>
	
	<select id="selectGoodsByImplementCode" parameterType="String" resultMap="pgResultMap">
		SELECT 
			 pet_goods_code
			,implement_code
			,animal_insert_code
			,staff_code
			,pet_goods_reg_date
		FROM 
			tb_pet_goods
		WHERE
			implement_code=#{implementCode};
	</select>
	
	<select id="selectImplementTypeNCodeNCnt" resultType="Map">
		SELECT
			 i.implement_type AS implementType
			,g.implement_code AS implementCode
			,COUNT(g.implement_code) AS cnt
		FROM
			tb_pet_goods AS g
			INNER JOIN 
			tb_implement AS i
			ON 
			g.implement_code = i.implement_code
		GROUP BY g.implement_code;
	</select>
	
	<insert id="insertPetGoods" parameterType="PetGoods">
		<selectKey keyProperty="petGoodsCode" resultType="String" order="BEFORE">
			SELECT
				CASE COUNT(*)
				WHEN 0 THEN 'pet_goods_1'
				ELSE CONCAT('pet_goods_' ,MAX(CAST(SUBSTR(pet_goods_code, 11) AS DECIMAL)) + 1)
				END
			FROM
				tb_pet_goods;
		</selectKey>
			INSERT INTO tb_pet_goods
			(
			 pet_goods_code 
			,implement_code 
			,animal_insert_code
			,staff_code
			,pet_goods_reg_date
			)
			VALUES 
			(
			 #{petGoodsCode}
			,#{implementCode}
			,#{animalInsertCode}
			,#{staffCode}
			,CURDATE()
			)	
	</insert>
	
	<select id="selectPetGoods" resultMap="pgResultMap">
		SELECT 
			 pet_goods_code
			,implement_code
			,animal_insert_code
			,staff_code
			,pet_goods_reg_date
		FROM 
			tb_pet_goods;
	</select>
	
	<!-- 사료 -->
	
	<delete id="deletePetFood" parameterType="String">
		DELETE 
		FROM 
			tb_pet_food 
		WHERE 
			pet_food_code=#{petFoodCode};
	</delete>

	<insert id="insertPetFood" parameterType="PetFood">
		<selectKey keyProperty="foodCode" order="BEFORE" resultType="String">
			SELECT
				case COUNT(*)
				when 0 then'pet_food_1'
				else CONCAT('pet_food_',MAX(CAST(SUBSTRING(pet_food_code,10) AS DECIMAL))+1) 
				END AS animal_type_code
			FROM
				tb_pet_food;
		</selectKey>
		INSERT INTO 
			tb_pet_food
			(
			 pet_food_code
			,pet_food_company
			,pet_food_type
			,pet_food_price
			,pet_food_amount
			,pet_food_remain
			,pet_food_name
			,pet_food_buyer
			,pet_food_purchase_date
			)
		VALUES 
			(
			 #{foodCode}
			,#{foodCompany}
			,#{foodType}
			,#{foodPrice}
			,#{foodAmount}
			,#{foodRemain}
			,#{foodName}
			,#{foodBuyer}
			,CURDATE()
			);
	</insert>

	<!-- 사료 수정 처리 -->
	<update id="updatePetFood" parameterType="PetFood">
		UPDATE 
			tb_pet_food
		SET
			pet_food_company		=#{foodCompany},
			pet_food_type			=#{foodType},
			pet_food_price			=#{foodPrice},
			pet_food_amount			=#{foodAmount},
			pet_food_remain			=#{foodRemain},
			pet_food_name			=#{foodName},
			pet_food_buyer			=#{foodBuyer},
			pet_food_purchase_date	=CURDATE()
		WHERE pet_food_code			=#{foodCode};
	</update>
	
	<!-- 사료를 사료종류로 찾음 -->
	<select id="selectPetFoodByFoodType" parameterType="String" resultMap="pfResultMap">
		SELECT 
			 pet_food_code
			,pet_food_company
			,pet_food_type
			,pet_food_price
			,pet_food_amount
			,pet_food_remain
			,pet_food_name
			,pet_food_buyer
			,pet_food_purchase_date
		FROM 
			tb_pet_food
		WHERE
			pet_food_type=#{foodType}
		ORDER BY CAST(SUBSTR(pet_food_code,10) AS DECIMAL) DESC;
	</select>
	
	<!-- 사료의 종류와 개수 찾음 -->
	<select id="selectPetFoodTypeCount" resultType="Map">
		SELECT 
			 f.pet_food_type		as foodType
			,COUNT(f.pet_food_type)	as foodCount
		FROM 
			tb_pet_food AS f
		GROUP BY f.pet_food_type;
	</select>

	<!-- 모든 사료 찾음 -->
	<select id="selectPetFood" resultMap="pfResultMap">
		SELECT 
			 pet_food_code
			,pet_food_company
			,pet_food_type
			,pet_food_price
			,pet_food_amount
			,pet_food_remain
			,pet_food_name
			,pet_food_buyer
			,pet_food_purchase_date
		FROM 
			tb_pet_food
		ORDER BY CAST(SUBSTR(pet_food_code,10) AS DECIMAL) DESC;
	</select>
	
	<!-- 사료를 코드로 찾음 -->
	<select id="selectPetFoodByPetFoodCode" parameterType="String" resultMap="pfResultMap">
		SELECT 
			 pet_food_code
			,pet_food_company
			,pet_food_type
			,pet_food_price
			,pet_food_amount
			,pet_food_remain
			,pet_food_name
			,pet_food_buyer
			,pet_food_purchase_date
		FROM 
			tb_pet_food
		WHERE
			pet_food_code=#{petFoodCode};
	</select>
	
</mapper>