<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.ProtectionMapper">

	<resultMap type="ProtectionSpace" id="psResultMap">
		<result property="protectSpaceCode" 	column="protect_space_code"/>
		<result property="animalInsertCode" 	column="animal_insert_code"/>
		<result property="useState" 			column="use_state"/>
		<result property="implementCode" 		column="implement_code"/>
		<result property="protectSpaceRegDate" 	column="protect_space_reg_date"/>
		<result property="animalProtectPeriod" 	column="animal_protect_period"/>
		<association property="animalProtect" javaType="AnimalProtect">
			<result property="animalProtectNum" 	column="animal_protect_num"/>
			<result property="animalInsertCode" 	column="animal_insert_code"/>
			<result property="protectSpaceCode" 	column="protect_space_code"/>
			<result property="state" 				column="protect_state"/>
			<result property="animalProtectRegDate" column="animal_protect_reg_date"/>
			<result property="animalProtectExeDate" column="animal_protect_exe_date"/>
		</association>
		<association property="animalCenter" javaType="AnimalCenter">
			<result property="animalInsertCode" 	column="animal_insert_code"></result>
			<result property="animalCenterNumber" 	column="animal_center_number"></result>
			<result property="animalPicture" 	 	column="animal_picture"></result>
			<result property="animalGender" 		column="animal_gender"></result>
			<result property="animalAge" 			column="animal_age"></result>
			<result property="animalWeight" 		column="animal_weight"></result>
			<result property="animalCharacter" 		column="animal_character"></result>
			<result property="animalState" 			column="animal_state"></result>
			<result property="animalInsertRegDate" 	column="animal_insert_reg_date"></result>
		</association>
	</resultMap>
	
	<!-- 보호공간 삭제 -->
	<delete id="deleteProtectionSpace" parameterType="String">
		DELETE 
		FROM 
			tb_protect_space 
		WHERE protect_space_code=#{protectionSpace};
	</delete>
	
	<!-- 보호공간 등록 -->
	<insert id="insertProtectionSpace" parameterType="ProtectionSpace">
		<selectKey resultType="String" keyProperty="protectSpaceCode" order="BEFORE">
			SELECT
				case COUNT(*)
				when 0 then 'protect_space_1'
				else CONCAT('protect_space_',MAX(CAST(SUBSTRING(s.protect_space_code, 15) AS DECIMAL))+1) 
				END AS protectSpaceCode
			FROM
				tb_protect_space AS s
		</selectKey>
		INSERT INTO tb_protect_space
			(
			 protect_space_code
			,animal_insert_code
			,use_state
			,implement_code
			,protect_space_reg_date
			,animal_protect_period
			)
		VALUES 
			(
			 #{protectSpaceCode}
			,null
			,'없음'
			,#{implementCode}
			,NOW()
			,#{animalProtectPeriod}
			)
	</insert>
	
	<!-- 보호관리에 등록 -->
	<insert id="insertAniamlProtection" parameterType="AnimalProtect">
		<selectKey resultType="String" keyProperty="animalProtectNum" order="BEFORE">
			SELECT 
				CONCAT('animal_protect_', MAX(CAST(SUBSTR(p.animal_protect_num,16) AS DECIMAL))+1) AS animalProtectNum
			FROM
				tb_animal_protect AS p
		</selectKey>
		INSERT INTO tb_animal_protect(
		 	 animal_protect_num
			,animal_insert_code
			,protect_space_code
			,protect_state
			,animal_protect_reg_date
			,animal_protect_exe_date
		)VALUES (
			 #{animalProtectNum}
			,#{animalInsertCode}
			,#{protectSpaceCode}
			,#{state}
			,CURDATE()
			,#{animalProtectExeDate}
		)
	</insert>
	
	<!-- 보호관리에서 미보호로 변환함 -->
	<update id="updateAnimalProtectionExit" parameterType="String">
		UPDATE tb_animal_protect AS p
		SET
			p.protect_state='미보호'
		WHERE 
			p.animal_protect_num=#{animalProtectionNum};
	</update>

	<update id="updateAnimalProtectionExitSpace" parameterType="String">
		UPDATE
			tb_protect_space AS s
		SET
			 s.animal_insert_code	=null
			,s.use_state			='없음'
		WHERE 
			s.protect_space_code=#{proSpaceCode};
	</update>

	<!-- 보호공간에 등록 -->
	<update id="updateAnimalProtectionInSpace" parameterType="AnimalProtect">
		UPDATE 
			 tb_animal_protect AS p
			,tb_protect_space s
		SET 
			 p.protect_space_code=		#{protectSpaceCode}
			,p.protect_state=			#{state}
			,p.animal_protect_exe_date=	#{animalProtectExeDate}
			,s.animal_insert_code=		#{animalInsertCode}
			,s.use_state=				'사용중'
		WHERE
			s.protect_space_code=#{protectSpaceCode}
			AND
			p.animal_insert_code=#{animalInsertCode}; 
	</update>

	<!-- 
	<update id="updateAnimalProtectionIn" parameterType="map">
		UPDATE 
			 tb_animal_protect AS p
			,tb_protect_space s
		SET 
			 p.protect_space_code='protect_space_2'
			,p.protect_state='보호중'
			,p.animal_protect_exe_date='2020-09-13'
			,s.animal_insert_code='animal_insert_1'
			,s.use_state='사용중'
		WHERE
			s.protect_space_code='protect_space_2'; 
	</update>
	 -->
	
	<!-- 보호관리에서 미보호인 객체 찾음 -->
	<select id="selectAnimalNotProtect" parameterType="String" resultType="AnimalProtect">
		SELECT 
			 p.animal_protect_num		as animalProtectNum
			,p.animal_insert_code		as animalInsertCode
			,p.protect_space_code		as protectSpaceCode
			,p.protect_state			as state
			,p.animal_protect_reg_date	as animalProtectRegDate
			,p.animal_protect_exe_date	as animalProtectExeDate
		FROM
			tb_animal_protect AS p
		WHERE
			p.animal_insert_code=#{animalNum}
			AND
			p.protect_state='미보호';
	</select>
	
	<!-- 보호공간을 갖고 있지 않는 객체 찾음 -->
	<select id="selectAnimalHaveNotSpace" resultMap="psResultMap">
		SELECT 
			 i.animal_insert_code
			,i.animal_center_number
			,i.animal_picture
			,i.animal_gender
			,i.animal_age
			,i.animal_weight
			,i.animal_character
			,i.animal_state
			,i.animal_insert_reg_date
			,i.animal_type_code
			,i.staff_code
		FROM 
			tb_animal_insert AS i 
			LEFT JOIN
			tb_animal_protect AS p
			ON
			i.animal_insert_code = p.animal_insert_code
		WHERE
			p.animal_insert_code IS NULL
			OR
			p.protect_state = '미보호';
	</select>
	 
	<!-- 동물등록코드로 보호공간찾음 -->
	<select id="selectProtectionSpaceByAniInCode" parameterType="String" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
		FROM 
			tb_protect_space AS s
		WHERE
			s.animal_insert_code=#{aniInsertCode};
	</select>
	
	<!-- 보호공간코드로 보호공간에 있는 객체 찾음 -->
	<select id="selectProtectionSpaceByCode" parameterType="String" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
		FROM 
			tb_protect_space AS s
		WHERE
			s.protect_space_code=#{proSpaceCode};
	</select>
	
	<!-- 보호관리 번호로 보호관리 객체 찾음 -->
	<select id="selectAnimalProtect" parameterType="String" resultType="AnimalProtect">
		SELECT 
			 p.animal_protect_num		as animalProtectNum
			,p.animal_insert_code		as animalInsertCode
			,p.protect_space_code		as protectSpaceCode	
			,p.protect_state			as state
			,p.animal_protect_reg_date	as animalProtectRegDate
			,p.animal_protect_exe_date	as animalProtectExeDate
		FROM
			tb_animal_protect AS p
		WHERE
			p.animal_insert_code=#{animalNum};
	</select>
	
	<!-- 보호공간을 상태로 찾음 (없음, 사용중) -->
	<select id="selectProtectionSpaceUseState" parameterType="String" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
		FROM 
			tb_protect_space AS s
		WHERE 
			s.use_state=#{state};
	</select>
	
	<!-- 보호공간에 없는 동물들 찾음 -->
	<select id="selectProtectionSpaceOutAnimal" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
			,p.animal_protect_num	
			,p.animal_insert_code
			,p.protect_space_code
			,p.protect_state
			,p.animal_protect_reg_date
			,p.animal_protect_exe_date
			,i.animal_insert_code
			,i.animal_center_number
			,i.animal_picture
			,i.animal_gender
			,i.animal_age
			,i.animal_weight
			,i.animal_character
			,i.animal_state
			,i.animal_insert_reg_date
			,i.animal_type_code
			,i.staff_code
		FROM
			tb_protect_space AS s
			LEFT JOIN 
			tb_animal_protect AS p
			ON 
			p.animal_insert_code = s.animal_insert_code
			LEFT JOIN 
			tb_animal_insert AS i
			ON
			p.animal_insert_code = i.animal_insert_code
		WHERE
			p.animal_insert_code IS NULL
		ORDER BY CAST(SUBSTR(s.protect_space_code,15) as decimal) DESC;
	</select>
	
	<!-- 보호공간에 있는 동물들 찾음 -->
	<select id="selectProtectionSpaceInAnimal" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
			,p.animal_protect_num	
			,p.animal_insert_code
			,p.protect_space_code
			,p.protect_state
			,p.animal_protect_reg_date
			,p.animal_protect_exe_date
			,i.animal_insert_code
			,i.animal_center_number
			,i.animal_picture
			,i.animal_gender
			,i.animal_age
			,i.animal_weight
			,i.animal_character
			,i.animal_state
			,i.animal_insert_reg_date
			,i.animal_type_code
			,i.staff_code
		FROM
			tb_protect_space AS s
			LEFT JOIN 
			tb_animal_protect AS p
			ON 
			p.animal_insert_code = s.animal_insert_code
			LEFT JOIN 
			tb_animal_insert AS i
			ON
			p.animal_insert_code = i.animal_insert_code
		WHERE
			p.animal_insert_code IS NOT NULL
		ORDER BY CAST(SUBSTR(s.protect_space_code,15) as decimal) DESC;
	</select>
	
	<!-- 모든 보호공간 찾음 공간에 없는 값은 null 임 -->
	<select id="selectProtectionSpace" resultMap="psResultMap">
		SELECT 
			 s.protect_space_code
			,s.animal_insert_code
			,s.use_state
			,s.implement_code
			,s.protect_space_reg_date
			,s.animal_protect_period
			,p.animal_protect_num	
			,p.animal_insert_code
			,p.protect_space_code
			,p.protect_state
			,p.animal_protect_reg_date
			,p.animal_protect_exe_date
			,i.animal_insert_code
			,i.animal_center_number
			,i.animal_picture
			,i.animal_gender
			,i.animal_age
			,i.animal_weight
			,i.animal_character
			,i.animal_state
			,i.animal_insert_reg_date
			,i.animal_type_code
			,i.staff_code
		FROM
			tb_protect_space AS s
			LEFT JOIN 
			tb_animal_protect AS p
			ON 
			p.animal_insert_code = s.animal_insert_code
			LEFT JOIN 
			tb_animal_insert AS i
			ON
			p.animal_insert_code = i.animal_insert_code
		ORDER BY CAST(SUBSTR(s.protect_space_code,15) as decimal) DESC;
	</select>
	
	<!-- 나중에 없앨 것 경진언니꺼로 해야함 -->
	<select id="selectMemberId" resultType="Member">
		SELECT 
			 member_id		as memberId
			,member_pw		as memberPw
			,level_code		as level
			,member_name	as memberName
			,member_phone	as memberPhone
			,member_addr	as memberAddr
			,member_email	as memberEmail
			,member_in_date	as memberInDate
		FROM
			tb_member
	</select>
	
</mapper>