<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.ScreeningApplicationMapper">
	<resultMap type="ScreeningApplication" id="getScreeningApplicationMap">
		<result property="screening_application_code" column="screening_application_code"></result>
		<result property="member_id" column="member_id"></result>
		<result property="screening_application_reg_date" column="screening_application_reg_date"></result>
		<result property="screening_application_state" column="screening_application_state"></result>
	</resultMap>
	
	<select id="selectScreeningApplication" resultMap="getScreeningApplicationMap">
		SELECT * FROM tb_screening_application
		<if test="screening_application_code!=null and screening_application_code !=''.toString()">
			<where>
			screening_application_code=#{screening_application_code}
			</where>
		</if>
	</select>
	
	<update id="updateScreeningApplication" parameterType="ScreeningApplication">
		UPDATE tb_screening_application
			SET
				screening_application_state=#{screening_application_state}
			WHERE screening_application_code=#{screening_application_code}
	</update>
</mapper>