<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.memory.mapper.WithdrawalPetMapper">
	
	<resultMap type="WithdrawalPet" id="withdrawalPet">
		<result property="withdrawalPetCode" column="withdrawal_pet_code"></result>
		<result property="withdrawalPetReason" column="withdrawal_pet_reason"></result>
		<result property="withdrawalPetDate" column="withdrawal_pet_date"></result>
		
		<association property="staff" javaType="Staff">
			<result property="staffCode" column="staff_code"></result>
			<result property="staffName" column="staff_name"></result>
		</association>	
		
		<association property="member" javaType="Member">
			<result property="memberId" column="member_id"></result>
			<result property="memberName" column="member_name"></result>
		</association>
		
		<association property="animalCenter" javaType="AnimalCenter">
			<result property="animalInsertCode" column="animal_insert_code"></result>
			<result property="animalCenterNumber" column="animal_center_number"></result>
		</association>
	</resultMap>
	
	<!-- 리스트 -->
	<select id="selectWithdrawalPet"
			resultType="WithdrawalPet"
			resultMap="withdrawalPet">
		SELECT 
			withdrawal_pet_code, 
			t.staff_name, 
			m.member_id,
			m.member_name,
			i.animal_center_number, 
			withdrawal_pet_reason, 
			withdrawal_pet_date
		FROM 
			tb_withdrawal_pet AS w
		INNER join
			tb_staff AS t
		INNER JOIN
			tb_member AS m
		INNER JOIN
			tb_animal_insert AS i
		ON
			w.staff_code=t.staff_code
		AND
			w.animal_insert_code=i.animal_insert_code
		AND	
			w.member_id=m.member_id;
					
	</select>
	
	<!-- 회수동물 등록 -->
	
	<insert id= "insertWithdrawalPet" parameterType="WithdrawalPet">
		
		<selectKey resultType="String" order="BEFORE" keyProperty="withdrawalPetCode">
			SELECT 
 				CONCAT('WPC_', MAX(CAST(SUBSTRING(withdrawal_pet_code,5) AS DECIMAL)+1)) AS withdrawal_pet_code
			FROM tb_withdrawal_pet;
		</selectKey>	
			
			INSERT INTO tb_withdrawal_pet
			(withdrawal_pet_code, staff_code, member_id, animal_insert_code, withdrawal_pet_reason, withdrawal_pet_date)
			VALUES (
					#{withdrawalPetCode}, 
					#{staff.staffCode}, 
					#{member.memberId}, 
					#{animalCenter.animalInsertCode}, 
					#{withdrawalPetReason}, 
					#{withdrawalPetDate}
					);
		
	</insert>
	
	<!-- 코드로 찾기 -->
	<select id="selectWithdrawalPetCode" parameterType="String" resultMap="withdrawalPet">
		
		SELECT 
			withdrawal_pet_code, 
			staff_code, 
			m.member_id,
			m.member_name, 
			animal_insert_code, 
			withdrawal_pet_reason, 
			withdrawal_pet_date
		FROM 
			tb_withdrawal_pet AS w
		INNER JOIN
			tb_member AS m
		ON
			w.member_id=m.member_id
		WHERE
			withdrawal_pet_code=#{withdrawalPetCode};	
	
	</select>
	
	<!-- 수정 -->
	
	<update id="updateWithdrawalPet" parameterType="WithdrawalPet">
		
			UPDATE tb_withdrawal_pet
			SET
				withdrawal_pet_reason=#{withdrawalPetReason},
				withdrawal_pet_date=#{withdrawalPetDate}
			WHERE 
				withdrawal_pet_code=#{withdrawalPetCode};
	
	</update>
	
	<!-- 삭제 -->
	
	<delete id="deleteWithdrawalPet" parameterType="String">
	
			DELETE 
			FROM 
				tb_withdrawal_pet 
			WHERE 
				withdrawal_pet_code=#{withdrawalPetCode};
	
	</delete>

</mapper>