<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">

<th:block layout:fragment="customTitle">
	<title>반려동물 등록 리스트</title>
</th:block>
<th:block layout:fragment="customCss">
	<!-- JQuery DataTable Css -->
	<link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
	                <h2>반려동물 리스트</h2>
	                <ul class="header-dropdown m-r--5">
	                    <li class="dropdown">
	                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	                            <i class="material-icons">more_vert</i>
	                        </a>
	                        <ul class="dropdown-menu pull-right">
	                            <li><a href="/companionanimalregister/companionAnimalRegisterInsert" class=" waves-effect waves-block">반려동물 등록 추가</a></li>
	                        </ul>
	                    </li>
	                </ul>
				</div>
				<div class="body">
					<div class="row clearfix">
	                    <div class="col-xs-3 col-md-3" >
	                    	<a th:href="@{/companionanimalregister/companionAnimalRegisterList}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">전체보기</button>
	                    	</a>
	                    </div>
	                    <div class="col-xs-3 col-md-3" th:each="p : ${petFoodTypeCnt}" >
	                    	<a th:href="@{/petFoodList(sendType=${p.foodType})}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	[[${p.foodType}]]
		                        	<span class="badge">[[${p.foodCount}]]</span>
		                        </button>
	                    	</a>
	                    </div>
	                </div>
	                <div class="table-responsive" style="overflow: hidden;">
	                    <table id="dataTabelEaxm1" class="table table-bordered table-striped table-hover">
	                        <thead>
		                            <tr role="row">
		                            	<th></th>
		                            	<th><div class="align-center">등록코드</div></th>
		                            	<th><div class="align-center">동물번호</div></th>
		                            	<th><div class="align-center">상태</div></th>
		                            	<th><div class="align-center">등록날짜</div></th>
		                            	<th><div class="align-center">분양날짜</div></th>
		                            	<th><div class="align-center">보호장소</div></th>
		                            	<th><div class="align-center">담당자</div></th>
		                            	<th data-orderable="false"><div class="align-center">수정</div></th>
		                            	<th data-orderable="false"><div class="align-center">삭제</div></th>
		                            </tr>
		                        </thead>
	                        <tbody>
			                        <tr th:each="CARS, i : ${CARS}" class="odd">
			                        	<td><div class="align-center">[[${i.size - i.index}]]</div></td>
		                              	<td><div class="align-center"></div>[[${CARS.companionAnimalRegisterCode}]]</td>
		                                <td><div class="align-center"></div>[[${CARS.animalCenter.animalCenterNumber}]]</td>
		                               	<td><div class="align-center"></div>[[${CARS.animalInformation}]]</td>
		                               	<td><div class="align-center"></div>[[${CARS.companionRegisterDate}]]</td>
		                               	<td><div class="align-center"></div>[[${CARS.cancleCompanionInDate}]]</td>
		                               	<td><div class="align-center"></div>[[${CARS.protectionSpace.protectSpaceCode}]]</td>
		                               	<td><div class="align-center"></div>[[${session.STAFF.staffName}]]</td>
		                                <td><div class="align-center">
		                                	<a th:href="@{/companionanimalregister/companionAnimalRegisterUpdate(send_code=${CARS.animalCenter.animalInsertCode}, 
		                                												companionAnimalRegisterCode=${CARS.companionAnimalRegisterCode})}" style="color: #9E9E9E">
		                       				<i class="material-icons">update</i></a></div>
		                      			</td>
		                      			<td><div class="align-center">
					                       	<a class="delete" th:href="@{/companionanimalregister/companionAnimalRegisterDelete(companionAnimalRegisterCode=${CARS.companionAnimalRegisterCode})}" style="color: #F44336">
					                       	<i class="material-icons">delete</i></a></div>
			                      		</td>
			                        </tr>
		                    </tbody>
	                    </table>
	                </div>
	            </div>
			</div>
		</div>
	</section>
</th:block>
<th:block layout:fragment="customHeadScript">
</th:block> 
<th:block layout:fragment="customFooterScript">
    <!-- Jquery DataTable Plugin Js -->
    <script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <script>
    	
	    $(function(){
	    	//데이터 테이블
			$('#dataTabelEaxm1').dataTable({
				"aaSorting": []
			});
		
	    	//삭제 유효성
			$('.delete').click(function(){
				var val = $(this).val();
				console.log(val);
				var url ="/companionAnimalRegisterDelete?companionAnimalRegisterCode="+val;
			    var msg = confirm('해당 종류를 삭제 하겠습니까?');
			    if(msg){
			    	$(location).attr('href',url);
			    }else if(!msg){
			    	return false;
			    }
			})
		});
	</script>
</th:block>
 
</html>