<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="header"><h2>반려동물보호</h2></div>
				
				<div class="body">
					<div class="row clearfix">
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/animalProtection}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	전체보기
		                        	<span class="badge">
		                        		[[${allCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/animalProtection(sendSearch='useing')}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	사용중
		                        	<span class="badge">
		                        		[[${useCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/animalProtection(sendSearch='useNot')}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	빈공간
		                        	<span class="badge">
		                        		[[${useNotCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div class="col-xs-6 col-md-3">
	                    	<a th:href="@{/protection/addAnimalProtection}">
		                        <button class="btn btn-default btn-lg btn-block waves-effect" type="button">
		                        	배치안된 펫
		                        	<span class="badge">
		                        		[[${haveNotCount}]]
		                        	</span>
		                        </button>
	                    	</a>
						</div>
						<div th:each="ps : ${protectSpaceList}" class="col-xs-6 col-md-3">
							<div class="info-box hover-zoom-effect">
								<th:block th:if="${ps.useState}=='사용중'">
									<div th:if="${ps.animalProtect.state}=='보호중'" class="icon bg-cyan">
										<a th:href="@{/protection/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
											<i class="material-icons">pets</i>
										</a>
									</div>
			                       	<div th:unless="${ps.animalProtect.state}=='보호중'" class="icon bg-red">
										<a th:href="@{/protection/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
											<i class="material-icons">pets</i>
			                            </a>
									</div>
									<div class="content">
										<ul style="position: absolute; top: 15px; right: 15px; list-style: none;">
			                                <li class="dropdown">
			                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			                                        <i class="material-icons">more_vert</i>
			                                    </a>
			                                    <ul class="dropdown-menu pull-right">
			                                        <li><a th:href="@{/protection/exitAnimalProtection(protectSpaceCode=${ps.protectSpaceCode},aniProtectionNum=${ps.animalProtect.animalProtectNum})}">비우기</a></li>
			                                    </ul>
			                                </li>
			                            </ul>
			                            <div class="text">
			                            	[[${ps.protectSpaceCode}]]
			                            </div>
			                            <div class="number">[[${ps.animalCenter.animalCenterNumber}]]([[${ps.animalProtect.state}]])</div>
			                        </div> 
								</th:block>
								<th:block th:unless="${ps.useState}=='사용중'">
									<div class="icon bg-green">
			                            <a th:href="@{/protection/modifyAnimalProtection(space=${ps.protectSpaceCode})}">
			                            	<i class="material-icons">error</i>
			                            </a>
									</div>
									<div class="content">
										<ul style="position: absolute; top: 15px; right: 15px; list-style: none;">
			                                <li class="dropdown">
			                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			                                        <i class="material-icons">more_vert</i>
			                                    </a>
			                                    <ul class="dropdown-menu pull-right">
			                                        <li><a data-toggle="modal" data-color="red" th:data-data="${ps.protectSpaceCode}" data-title="delete" class=" waves-effect waves-block" href="#modalTarget">삭제</a></li>
			                                    </ul>
			                                </li>
			                            </ul>
				                        <div class="text">[[${ps.protectSpaceCode}]]</div>
									</div> 
								</th:block>
							</div>
						</div>
						<div class="col-xs-6 col-md-3">
							<div class="info-box hover-zoom-effect">
								<div class="icon bg-yellow">
									<a th:href="@{/protection/addProtectionSpace}">
										<i class="material-icons">add</i>
									</a>
								</div>
								<div class="content">
									<div class="text">추가하기</div>
		                        </div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div id="modalTarget" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">Modal Header</h2>
				</div>
				<div class="modal-body">
					<p>Some text in the modal.</p>
				</div>
				<div class="modal-footer">
					<button type="button" id="ok">ok</button>
					<button type="button" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customFooterScript">
	<script>
		$(function(){
			$('#modalTarget').on('show.bs.modal', function (event) {
    	        var color = $(event.relatedTarget).data('color');
    	        var data = $(event.relatedTarget).data('data');
    	        var title = $(event.relatedTarget).data('title');
    	        $('#modalTarget .modal-title').text(title);
    	        $('#modalTarget .modal-body').text(data);
    	        $('#modalTarget .modal-content').removeAttr('class').addClass('modal-content modal-col-' + color);
    	        $('#ok').val(data);
    	    });
    		
    		$('#ok').click(function(){
    			var val = $(this).val();
    			console.log('ok 버튼 클릭 했음' + val);
    			location.href='/protection/delProtectionSpace?protectSpaceCode=' + val;
    		});
		});
	</script>
</th:block>
 
</html>