<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="header">
					<h2>
						유기동물보호등록
                	</h2>
				</div>
				<div class="body">
					<form id="protectSpaceForm" action="/protection/addAnimalProtection" method="POST">
						<div class="input-group">
	                        <div class="form-line">
								보호공간
								<div>
		                            <select name="protectSpaceCode">
										<option th:each="p : ${psus}" th:value="${p.protectSpaceCode}">-- [[${p.protectSpaceCode}]] --</option>
									</select>
								</div>
	                        </div>
						</div>
	                    <div class="input-group">
	                        <div class="form-line">
								센터등록된 유기동물번호
	                            <div>
		                            <select name="animalInsertCode">
										<option th:each="a : ${ahns}" th:value="${a.animalCenter.animalInsertCode}">-- [[${a.animalCenter.animalCenterNumber}]] --</option>
									</select>
								</div>
	                        </div>
						</div>
						
						<div class="input-group">
							<div class="form-line">
								보호상태
								<div>
									<select name="state">
										<option value="보호중">-- 보호중 --</option>
										<option value="특별보호">-- 특별보호 --</option>
									</select>
								</div>
							</div>
						</div>
						<div class="input-group">
	                        <div class="form-line">
								보호기간
	                            <input id="protectDate" type="number" class="form-control" name="protectDate" placeholder="보호기간">
	                        </div>
						</div>
						
                        <button id="protectSpaceBtn" class="btn btn-block bg-amber waves-effect" type="button">유기동물보호등록</button>
                        
                	</form>
					</div>
			</div>
			
		
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
	<link href="/plugins/multi-select/css/multi-select.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</th:block>

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>