<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="header">
					<h2>
						보호공간등록
                	</h2>
				</div>
				<div class="body">
					<form id="protectSpaceForm" action="/protection/addAnimalProtectionSpace" method="POST">
						<div class="row">
							<div class="col-xs-6 col-md-6">
								<div class="input-group">
			                        <div>
										시설
										<div>
				                            <select name="implementCode">
												<option th:each="im : ${implementList}" th:value="${im.implementCode}" th:text="${im.implementType}"></option>
											</select>
										</div>
			                        </div>
								</div>
							</div>
							<div class="col-xs-6 col-md-6">
								<div class="input-group">
			                        <div class="form-line">
										보호기간
										<div>
											<input type="text" name="animalProtectPeriod" value="3개월">
										</div>
			                        </div>
								</div>
							</div>
						</div>
                        <button id="protectSpaceBtn" class="btn btn-block bg-amber waves-effect" type="submit">보호공간등록</button>
                        
                	</form>
				</div>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
	<link href="/plugins/multi-select/css/multi-select.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</th:block>

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>