<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="header">
					<h2>
						유기동물보호수정
                	</h2>
				</div>
				<div class="body">
					<form action="/protection/animalProtection" method="POST">
						<div class="row">
							<div class="input-group">
		                        <div class="form-line">
									보호공간
		                            <input type="text" class="form-control" name="protectSpaceCode" th:value="${ptSpace.protectSpaceCode}" readonly="readonly">
		                        </div>
							</div>						
						</div>
						<div class="row">
							<div class="col-xs-6 col-md-4">
			                    <div class="input-group">
			                        <div>
										센터등록된 유기동물번호
			                            <!-- <input id="petName" type="text" class="form-control" name="animalInsertCode" placeholder="유기동물이름" th:value="${ptSpace.animalProtect.animalInsertCode}">
			                            <button type="button" id="btnNamePet" class="btn btn-block bg-green waves-effect">동물이름중복</button> -->
			                            <div>
				                            <select name="animalInsertCode">
				                            	<option th:each="l : ${acl}" th:value="${l.animalInsertCode}" th:text="${l.animalCenterNumber}" th:selected="${l.animalInsertCode}==${ptSpace.animalInsertCode}"></option>
				                            </select>
			                            </div>
			                        </div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="input-group">
									<div>
										보호상태
										<div>
											<select name="state">
												<option value="보호중">-- 보호중 --</option>
												<option value="특별보호">-- 특별보호 --</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										보호기간
			                            <input type="number" class="form-control" name="protectDate" placeholder="보호기간" th:value="${dDay}">
			                        </div>
								</div>
							</div>
						</div>
                        <button class="btn btn-block bg-amber waves-effect" type="submit">유기동물보호수정</button>
                        
                	</form>
				</div>
			</div>
			
		
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
	<link href="../../plugins/multi-select/css/multi-select.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</th:block>

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>