<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
<th:block layout:fragment="customCss">

</th:block>

<th:block layout:fragment="customTitle">
	<title>동물 진료 기록 수정</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>동물 진료 기록 수정</h2>
				</div>
				<form action="/animalhealth/animalhealthupdate" method="post">
				<input type="hidden" name="animalHealthCode" th:value="${hinfo.animalHealthCode}">
				<div class="body">
					<div class="clearfix">
							<div class="row">
				      			<div class="col-md-3">
				      				<b>동물번호</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="animalCenterNumber" th:value="${hinfo.animalCenter.animalCenterNumber}" class="form-control" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>담당자</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="hidden" name="staffCode" class="form-control" th:value="${hinfo.staff.staffCode}">
					                        <input type="text" name="staffName" class="form-control" th:value="${hinfo.staff.staffName}" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>등록 일자</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="animalHealthRegDate" class="form-control" th:value="${hinfo.animalHealthRegDate}" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
							</div>
			                <b>동물 상태</b>
		           			<textarea class="form-control" rows="3" name="animalHealthContents">[[${hinfo.animalHealthContents}]]</textarea>
			  	    	</div>
				</div>
	            <div class="body">
	            	<button type="submit" class="btn bg-amber btn-block btn-lg waves-effect">동물 상태 수정</button>
	            </div>
	      		</form>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>