<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customCss">
</th:block>

 <th:block layout:fragment="customTitle">
 	<title>게시글 작성</title>
 </th:block> 

<th:block layout:fragment="customContents">
<script>
	var link = '[[${send}]]';
</script>
<section class="content">
	<div class="container-fluid">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
            	<div class="header">
            		<input type="text" style="border:none; width:100%" id="setTitle" placeholder="제목">
            	</div>
                <div class="body">
                	<form method="post" onsubmit="this.action=link; return addParameter();">
                		<input type="hidden" id="board_title" name="board_title">
                		<input type="hidden" id="board_ip" name="board_ip">
						<textarea id="ckeditor" name="board_content" style="visibility: hidden; display: none;"></textarea>
						<br>
						<button type="submit" class="btn btn-primary waves-effect">업로드</button>
                	</form>
                	<script>
						function addParameter() {
							var value = $('#setTitle').val();
							$('#board_title').val(value);
							$('#board_ip').val(getip());
							return true;
						}
					</script>
				</div>
			</div>
		</div>
	</div>
</section>
</th:block> 
 
<th:block layout:fragment="customHeadScript">
<script type="text/javascript" src="http://jsgetip.appspot.com/?getip"></script>
</th:block> 

<th:block layout:fragment="customFooterScript">
<script src="/plugins/ckeditor/ckeditor.js"></script>
<script src="/js/pages/forms/editors.js"></script>
</th:block>
 
</html>