<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">

<th:block layout:fragment="customCss">
	<!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="customTitle">
	<title>보증금 수정</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>보증금 수정</h2>
				</div>
				<form action="/deposit/depositUpdate" method="post">
				<div class="body">
					<div class="clearfix">
							<div class="row">
				      			<div class="col-md-3">
				      				<b>회원 아이디</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memberId" class="form-control" th:value="1111" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>회원 이름</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memberName" class="form-control" value="이경진" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>등록 일자</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="depositDate" class="form-control" value="2020-06-11" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
							</div>
		                	<div class="col-md-3">
				           		<b>후기 등록 횟수</b>
				           		<div class="input-group">
					           		<select class="form-control">
					           			<option value="">====== 선택 ======</option>
					           			<option value="#">1회 완료</option>
		            					<option value="#">2회 완료</option>
		            					<option value="#">3회 완료</option>
		            					<option value="#">4회 완료</option>
		            					<option value="#">5회 완료</option>
		            					<option value="#">후기 완료!</option>
		            				</select>
				           		</div>
		           			</div>
		           			<div class="col-md-3">
				           		<b>보증금 상태</b>
				           		<div class="input-group">
					           		<select class="form-control">
					           			<option value="">====== 선택 ======</option>
					           			<option value="#">입금 미확인</option>
		            					<option value="#">입금 완료</option>
		            					<option value="#">보관 중</option>
		            					<option value="#">반환 완료</option>
		            					<option value="#">회수 대기</option>
		            					<option value="#">기부 처리</option>
		            				</select>
				           		</div>
		           			</div>
		           	</div>
           		</div>
				 <div class="body">
	            	<button type="submit" class="btn bg-amber btn-block btn-lg waves-effect">보증금 수정</button>
	            </div>
	      		</form>
	      		</div>
			</div>
				
	</section>
</th:block> 

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>
