<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
	<title>심사완료관리</title>
</th:block> 
<th:block layout:fragment="customCss">
	<!-- JQuery DataTable Css -->
    <link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
	                <h2>심사 완료 관리</h2>
				</div>
				<div class="body">
	                <div class="table-responsive" style="overflow: hidden;">
	                    <table id="dataTabelEaxm1" class="table table-bordered table-striped table-hover">
	                        <thead>
						        <tr role="row">
						            <th>아이디</th>
						            <th>문항1 보기코드</th>
						            <th>문항2 보기코드</th>
						            <th>문항3 보기코드</th>
						            <th>문항4 보기코드</th>
						            <th>문항5 보기코드</th>
						            <th>문항6 보기코드</th>
						            <th>문항7 보기코드</th>
						            <th>문항8 보기코드</th>
						            <th>문항9 보기코드</th>
						            <th>문항10 보기코드</th>
						            <th>문항11 보기코드</th>
						            <th>지표총점</th>
						        </tr>
						    </thead>
							<tbody>
								<tr class="odd" th:each="i : ${selectScreeningComplete}">
									<td>[[${i.member_id}]]</td>
									<td>[[${i.screening_complete_first}]]</td>
									<td>[[${i.screening_complete_second}]]</td>
									<td>[[${i.screening_complete_therd}]]</td>
									<td>[[${i.screening_complete_fourth}]]</td>
									<td>[[${i.screening_complete_fifth}]]</td>
									<td>[[${i.screening_complete_sixth}]]</td>
									<td>[[${i.screening_complete_seventh}]]</td>
									<td>[[${i.screening_complete_eighth}]]</td>
									<td>[[${i.screening_complete_ninth}]]</td>
									<td>[[${i.screening_complete_tenth}]]</td>
									<td>[[${i.screening_complete_eleventh}]]</td>
									<td>[[${i.screening_complete_totel}]]</td>
								</tr>
							</tbody>
	                    </table>
	                </div>
	            </div>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
</th:block>

<th:block layout:fragment="customFooterScript">
    <!-- Jquery DataTable Plugin Js -->
    <script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <script>
    	$(function(){
    		$('#dataTabelEaxm1').dataTable({
    			"aaSorting": []
    		});
    	});
    </script>
</th:block>
 
</html>