<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">


<th:block layout:fragment="customTitle">
	<title>입양신청</title>
</th:block>
<th:block layout:fragment="customCss">
<!-- Bootstrap Select Css -->
   	<link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>	

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
	            <div class="header">
	                <h2>입양신청</h2>
	            </div>
	            <div class="body">
	            	<div class="row clearfix">
	            		<form action="/adoption/adoptionApply" method="post">
	            			<div class="col-md-5">
	            				<b>회원 아이디</b>
			                    <div class="input-group">
		            				<div class="form-line">
			                            <input name="memberId" th:value="${session.SID}" class="form-control" readonly>
			                        </div>
		            			</div>
	            			</div>
	            			<div class="col-md-5">
			                    <b>입양점수</b>
			                    <div class="input-group">
			                        <div class="form-line">
			                            <input name="adoptionPoint" id="adoptionPoint" class="form-control" readonly>
			                        </div>
			                    </div>
			                </div>
	            			<div class="col-md-4">
	            				<b>축종코드</b>
			                    <div class="input-group">
		            				<select id="animalType" class="form-control show-tick" >
                                        <option value="">-축종선택-</option>
                                        <option value="강아지">강아지</option>
                                        <option value="고양이">고양이</option>
                                        <option value="기타">기타</option>
                                    </select>
		            			</div>
	            			</div>
	            			<div class="col-md-4">
	            				<b>강아지</b>
			                    <div class="input-group">
		            				<select id="dogSelectType"  class="form-control show-tick" >
                                        <option value="">-품종선택-</option>
                                        <option value="말티즈">말티즈</option>
                                        <option value="포메라니안">포메라니안</option>
                                        <option value="비글">비글</option>
                                        <option value="기타">기타</option>
                                    </select>
		            			</div>
	            			</div>
	            			<div class="col-md-4">
	            				<b>고양이</b>
			                    <div class="input-group">
		            				<select id="dogSelectType"  class="form-control show-tick" >
                                       <option value="">-품종선택-</option>
                                        <option value="페르시안">페르시안</option>
                                        <option value="벵골">벵골</option>
                                        <option value="사암고양이">사암고양이</option>
                                        <option value="기타">기타</option>
                                    </select>
		            			</div>
	            			</div>
	            		 </div>
		            	<div class="form-group">
	                          <div class="font-bold col-teal">성별</div>
	                            <input type="radio" name="gender" id="male" class="with-gap">
	                            <label for="male">수컷</label>
	
	                            <input type="radio" name="gender" id="female" class="with-gap">
	                            <label for="female" class="m-l-20">암컷</label>
	                            
	                            <input type="radio" name="gender" id="middle" class="with-gap">
	                            <label for="middle" class="m-l-20">무관</label>
	                    </div>
			                <div class="form-group">
                                    <p>
                                        <b>입양 희망 지역</b>
                                    </p>
                                    <select id="animalType" class="form-control" >
                                        <option value="">-지역선택-</option>
                                        <option value="전국분양">전국분양</option>
                                        <option value="서울시">서울시</option>
                                        <option value="인천시">인천시</option>
                                        <option value="대전시">대전시</option>
                                        <option value="광주시">광주시</option>
                                        <option value="대구시">대구시</option>
                                        <option value="울산시">울산시</option>
                                        <option value="부산시">부산시</option>
                                        <option value="경기도">경기도</option>
                                        <option value="강원도">강원도</option>
                                        <option value="세종시">세종시</option>
                                        <option value="충청남도">충청남도</option>
                                        <option value="충청북도">충청북도</option>
                                        <option value="전라남도">전라남도</option>
                                        <option value="전라북도">전라북도</option>
                                        <option value="경상남도">경상남도</option>
                                        <option value="경상북도">경상북도</option>
                                        <option value="제주도">제주도</option>
                                    </select>

                             </div>
                              <div class="form-group">
                                    <p>
                                        <b>입양 희망 연령</b>
                                    </p>
                                    <select id="animalAge" class="form-control" >
                                        <option value="">-나이선택-</option>
                                        <option value="1">1세이하</option>
                                        <option value="2">2세이하</option>
                                        <option value="3">3세이하</option>
                                        <option value="4">4세이하</option>
                                       
                                    </select>

                                </div>    
			                <div class="form-grou p-t-10">
			                	<button type="submit" class="btn btn-primary btn-lg">입양신청</button>
			                </div>
	            		</form>
		            </div>
	            </div>
	        </div>
		</div>
	</section>
</th:block>

<th:block layout:fragment="customHeadScript">
</th:block> 
<th:block layout:fragment="customFooterScript">
	<script>
	
	$(function(){
		
		//회원 아이디로 회원 이름 가져오기
		$('#memberId').change(function(){
			var type = $(this).val();
			var request = $.ajax({
				url: "/ajax/membertype",
				method: "POST",
				data: { "type" : type },
				dataType: "json"
			});
			request.done(function( data ) {
				console.log(data);
				var memberId = '';
				
				for(var i=0;i<data.length;i++){
					if(type == data[i].memberId){
						memberId += data[i].memberName;
						
					}
				}		
				$('#memberName').val(memberId);
				
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
			});
		});
	});
	</script>

</th:block>
 
</html>
