<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
	
 <th:block layout:fragment="customTitle">
 	<title>입양심사</title>
 </th:block> 

<th:block layout:fragment="customContents">
<section class="content">
	<div class="container-fluid">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                    <div class="card">
	                        <div class="body">
	                            <div class="demo-radio-button">
	                            	<form>
		                            	<h4>1. 반려동물을 키운 경험</h4>
		                                <input name="first" type="radio" id="first_1" class="with-gap radio-col-black" value="1년미만, 없음">
		                                <label for="first_1">1년 미만 또는 없음</label><br>
		                                <input name="first" type="radio" id="first_2" class="with-gap radio-col-black" value="1~3년">
		                                <label for="first_2">1년 이상</label><br>
		                                <input name="first" type="radio" id="first_3" class="with-gap radio-col-black" value="3~7년">
		                                <label for="first_3">3년 이상</label><br>
		                                <input name="first" type="radio" id="first_4" class="with-gap radio-col-black" value="7년 이상">
		                                <label for="first_4">7년 이상</label><br><br>
		                                
		                                <h4>2. 가족 구성원의 동의</h4>
		                                <input name="second" type="radio" id="second_1" class="with-gap radio-col-black" value="모두 찬성">
		                                <label for="second_1">모두 찬성</label><br>
		                                <input name="second" type="radio" id="second_2" class="with-gap radio-col-black" value="부분 찬성">
		                                <label for="second_2">부분 찬성</label><br>
		                                <input name="second" type="radio" id="second_3" class="with-gap radio-col-black" value="본인 제외 반대">
		                                <label for="second_3">본인 제외 반대</label><br><br>
		                                
		                                <h4>3. 거주지의 종류</h4>
		                                <input name="third" type="radio" id="third_1" class="with-gap radio-col-black" value="단독주택">
		                                <label for="third_1">단독주택</label><br>
		                                <input name="third" type="radio" id="third_2" class="with-gap radio-col-black" value="아파트">
		                                <label for="third_2">아파트</label><br>
		                                <input name="third" type="radio" id="third_3" class="with-gap radio-col-black" value="빌라/다세대 주택">
		                                <label for="third_3">빌라/다세대</label><br>
		                                <input name="third" type="radio" id="third_4" class="with-gap radio-col-black" value="원룸">
		                                <label for="third_4">원룸</label><br><br>
		                                
		                                <h4>4. 반려동물과 함께할 수 있는 시간</h4>
		                                <input name="fourth" type="radio" id="fourth_1" class="with-gap radio-col-black" value="8시간 미만">
		                                <label for="fourth_1">8시간 이하</label><br>
		                                <input name="fourth" type="radio" id="fourth_2" class="with-gap radio-col-black" value="8시간 이상 14시간 미만">
		                                <label for="fourth_2">8 ~ 14시간</label><br>
		                                <input name="fourth" type="radio" id="fourth_3" class="with-gap radio-col-black" value="14시간 이상 20시간 미만">
		                                <label for="fourth_3">14 ~ 20시간</label><br>
		                                <input name="fourth" type="radio" id="fourth_4" class="with-gap radio-col-black" value="20시간 이상">
		                                <label for="fourth_4">20시간 이상</label><br><br>
		                                
		                                <h4>5. 1년간 사용 가능한 의료비용</h4>
		                                <input name="fifth" type="radio" id="fifth_1" class="with-gap radio-col-black" value="30만원 이상">
		                                <label for="fifth_1">30만원 이상</label><br>
		                                <input name="fifth" type="radio" id="fifth_2" class="with-gap radio-col-black" value="10~29만원">
		                                <label for="fifth_2">10 ~ 29만원</label><br>
		                                <input name="fifth" type="radio" id="fifth_3" class="with-gap radio-col-black" value="10만원 미만">
		                                <label for="fifth_3">10만원 미만</label><br><br>
		                                
		                                <h4>6. 1개월간 사용 가능한 양육비용</h4>
		                                <input name="sixth" type="radio" id="sixth_1" class="with-gap radio-col-black" value="10만원 이상">
		                                <label for="sixth_1">10만원 이상</label><br>
		                                <input name="sixth" type="radio" id="sixth_2" class="with-gap radio-col-black" value="10만원 미만">
		                                <label for="sixth_2">10만원 미만</label><br><br>
		                                
		                                <h4>7. 입양을 하려는 이유</h4>
		                                <textarea rows="4" class="form-control no-resize" placeholder="입력창" name="seventh"></textarea><br><br>
		                                
		                                <h4>8. 입양 후 반려동물과 일과</h4>
		                                <textarea rows="4" class="form-control no-resize" placeholder="입력창" name="eighth"></textarea><br><br>
		                                
		                                <h4>9. 가족이 부재중일때 반려동물의 거취</h4>
		                                <textarea rows="4" class="form-control no-resize" placeholder="입력창" name="ninth"></textarea><br><br>
		                                
		                                <h4>10. 반려동물에게 제공하는 음식</h4>
		                                <textarea rows="4" class="form-control no-resize" placeholder="입력창" name="tenth"></textarea><br><br>
		                                
		                                <h4>11. 반려동물에게 중요한 것</h4>
		                                <textarea rows="4" class="form-control no-resize" placeholder="입력창" name="eleventh"></textarea>
	                            	</form>
	                            </div>
	                           	<br>
	                            <button type="button" class="btn btn-primary waves-effect" onclick="#">제출</button>
	                        </div>
	                    </div>
	                </div>
	</div>
</section>
 </th:block> 
 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragmnet="customFooterScript">
</th:block>
 
</html>