<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="block-header">
                <h2>
                    	유기동물추가비용
                </h2>
            </div>
			
			<div class="card">
				<div class="body">
					<div class="table-responsive">
						<table class="table table-bordered" style="text-align: center;">
						    <thead>
						        <tr>
						            <th>유기동물이름</th>
						            <th>추가비용종류</th>
						            <th>추가비용금액</th>
						            <th>담당자</th>
						            <th>수정</th>
						            <th>삭제</th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
						            <td>15</td>
						            <td>미용</td>
						            <td>50000</td>
						            <td>홍02</td>
						            <td>
						            	<a th:href="@{/addtional/addtionalCostUpdate}">수정</a>
						            </td>
						            <td>
						            	<a th:href="@{#}">삭제</a>
						            </td>
						        </tr>
						        <tr>
						           	<td>15</td>
						            <td>병원</td>
						            <td>100000</td>
						            <td>홍02</td>
						            <td>
						            	<a th:href="@{/addtional/addtionalCostUpdate}">수정</a>
						            </td>
						            <td>
						            	<a th:href="@{#}">삭제</a>
						            </td>
						        </tr>
						        <tr>
						            <td>5</td>
						            <td>미용</td>
						            <td>50000</td>
						            <td>홍02</td>
						            <td>
						            	<a th:href="@{/addtional/addtionalCostUpdate}">수정</a>
						            </td>
						            <td>
						            	<a th:href="@{#}">삭제</a>
						            </td>
						        </tr>
						        <tr>
						            <td>2</td>
						            <td>미용</td>
						            <td>20000</t>
						            <td>홍02</td>
						            <td>
						            	<a th:href="@{/addtional/addtionalCostUpdate}">수정</a>
						            </td>
						            <td>
						            	<a th:href="@{#}">삭제</a>
						            </td>
						        </tr>
						       
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
</th:block>

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>