<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	  <!-- Footer1 -->
            <div class="legal" id="footer" th:fragment="footerFragment">
                <div class="copyright">
                    &copy; 2020 <a href="javascript:void(0);">AnimalProtectionCenter</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.2
                    <ul>
                    <li class="pull-right"><a th:href="@{/admin}">관리자</a></li>
                    </ul>
                </div>
            </div>
            <!-- #Footer -->
            
     
	  <!-- Footer2 -->
            <div class="legal" id="footer" th:fragment="footer2Fragment">
                <div class="copyright">
                    &copy; 2020 <a href="javascript:void(0);">AnimalProtectionCenter</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.2
                    <ul>
                    <li class="pull-right"><a th:href="@{/}">회원</a></li>
                    </ul>
             	 </div>
            </div>
            <!-- #Footer --> 
            
		
		      
</html>