<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <!-- 관리자메뉴 Left Sidebar -->
        <aside id="leftsidebar" class="sidebar"  th:fragment="leftmenu2Fragment">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="/images/user.png" width="48" height="60" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[${session.SID}]] [[${session.SNAME}]]</div>
                    <div class="btn-group user-helper-dropdown" >
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                       		<li><a href="javascript:void(0);">	<i class="material-icons">person</i>내정보</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);">	<i class="material-icons">group</i>작성글보기</a></li>
                            <li><a th:href="@{/member/logout}">		<i class="material-icons">input</i>로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- 관리자 Menu -->
            <div class="menu" >
                <ul class="list">
                    <li class="header">관리자</li>
                    <li class="active">
                        <a href="/admin">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">widgets</i>
                            <span>!센터 관리 - 채, 충, 민</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
	                        <li>
	                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
	                                <span>!직원 관리 - 채</span>
	                            </a>
	                            <ul class="ml-menu" style="display: none;">
	                                <li>
	                                    <a href="/staff/staffinsert" class=" waves-effect waves-block">!직원 등록 - 채</a>
	                                </li>
	                                <li>
	                                    <a href="/staff/stafflist" class=" waves-effect waves-block">!직원 리스트 - 채</a>
	                                </li>
	                                <li>
	                              		<a href="/staff/staffcommutelist">!직원 근태 관리 - 채</a>
	                          		</li>
	                            </ul>
	                        </li>
	                        <li>
	                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
	                                <span>!직원 휴가,외출관리 - 채</span>
	                            </a>
	                            <ul class="ml-menu">
	                                <li>
	                                    <a href="/staff/staffvacationinsert" class=" waves-effect waves-block">!휴가, 외출 등록 - 채</a>
	                                </li>
	                                <li>
	                                    <a href="/staff/staffvacationlist" class=" waves-effect waves-block">!휴가, 외출 리스트 - 채</a>
	                                </li>
	                             </ul>
	                        </li>
	                        <li>
	                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
	                                <span>!시설관리 - 충</span>
	                            </a>
	                            <ul class="ml-menu">
	                                <li>
	                                    <a href="/implement/implementInsert" class=" waves-effect waves-block">!시설 등록 - 충</a>
	                                </li>
	                                <li>
	                                    <a href="/implement/implementList" class=" waves-effect waves-block">!시설 리스트 - 충</a>
	                                </li>
	                             </ul>
	                        </li>
	                        <li>
	                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
	                                <span>!센터 반환동물 관리 - 민</span>
	                            </a>
	                            <ul class="ml-menu">
	                                <li>
	                                    <a href="/centerreturn/centerReturnInsert" class=" waves-effect waves-block">!반환동물 등록 - 민</a>
	                                </li>
	                                <li>
	                                    <a href="/centerreturn/centerReturnList" class=" waves-effect waves-block">!반환동물  리스트 - 민</a>
	                                </li>
	                             </ul>
	                        </li>
	                        <li>
	                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
	                                <span>!센터 회수동물 관리 - 민</span>
	                            </a>
	                            <ul class="ml-menu">
	                                <li>
	                                    <a href="/withdrawalpet/withdrawalPetInsert" class=" waves-effect waves-block">!회수동물 등록 - 민</a>
	                                </li>
	                                <li>
	                                    <a href="/withdrawalpet/withdrawalPetList" class=" waves-effect waves-block">!회수동물  리스트 - 민</a>
	                                </li>
	                             </ul>
	                        </li>
                    	</ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">swap_calls</i>
                            <span>!동물 관리 - 채, 충</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/animaltype/animaltypelist">동물 종류 - 채</a>
                            </li>
                            <li>
                                <a href="/protection/animalProtection">보호공간 관리 - 충</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>사료관리 - 충</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="/petItem/petFoodInsert" class=" waves-effect waves-block">사료등록 - 충</a>
                                    </li>
                                    <li>
                                        <a href="/petItem/petFoodList" class=" waves-effect waves-block">사료리스트 - 충</a>
                                    </li>
                                 </ul>
                            </li>
                            <li>
                                <a href="/petItem/petGoodsList">펫 용품,소모품 관리 - 충</a>
                            </li>
                        </ul>
                    </li>
             
					<li>
						<a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">swap_calls</i>
                            <span>!보호동물 관리 - 채</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/animalcenter/animalcenterinsert">!보호동물 등록(센터등록 관리) - 채</a>
                            </li>
                            <li>
                                <a href="/animalcenter/animalcenterlist">!보호동물 리스트(센터등록 관리) - 채</a>
                            </li>
                            <li>
                                <a href="/animaldisposal/animaldisposallist">!보호동물 처리(상태관리) - 채 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">swap_calls</i>
                            <span>보호건강 관리 - 채</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/animalhealth/animalhealthlist">동물 진료기록 - 채</a>
                            </li>
                            <li>
                                <a href="/animalhealth/animalhealthhistorylist">동물 진료 내역 - 채</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">widgets</i>
                            <span>!입양,분양 관리 - 민</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>!입양동물 기간 관리 - 민</span>
                                </a>
                                <ul class="ml-menu" style="display: none;">
                                    <li>
                                        <a href="/petadoption/petAdoptionInsert" class=" waves-effect waves-block">!입양동물 기간 등록 - 민</a>
                                    </li>
                                    <li>
                                        <a href="/petadoption/petAdoptionList" class=" waves-effect waves-block">!입양동물 기간 리스트 - 민</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>분양동물관리 - 민</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="/companionanimalregister/companionAnimalRegisterInsert" class=" waves-effect waves-block">분양동물등록 - 민</a>
                                    </li>
                                    <li>
                                        <a href="/companionanimalregister/companionAnimalRegisterList" class=" waves-effect waves-block">분양동물리스트 - 민</a>
                                    </li>
                                 </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>!후기관리 - 민</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="/review/reviewInsert" class=" waves-effect waves-block">!후기등록 - 민</a>
                                    </li>
                                    <li>
                                        <a href="/review/reviewList" class=" waves-effect waves-block">!후기리스트 - 민</a>
                                    </li>
                                 </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>!기프트 관리 - 민</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="/gift/giftInsert" class=" waves-effect waves-block">!기프트 등록 - 민</a>
                                    </li>
                                    <li>
                                        <a href="/gift/giftList" class=" waves-effect waves-block">!기프트 리스트 - 민</a>
                                    </li>
                                 </ul>
                            </li>
                        </ul>
					</li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">widgets</i>
                            <span>!회원 관리 - 경, 민</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>!회원 정보 - 경</span>
                                </a>
                                <ul class="ml-menu" style="display: none;">
                                	<li>
                                        <a href="/member/adminAddMember" class=" waves-effect waves-block">!회원 등록 - 경</a>
                                    </li>
                                    <li>
                                        <a href="/member/memberUpdate" class=" waves-effect waves-block">!회원 수정 - 경</a>
                                    </li>
                                    <li>
                                        <a href="/member/getMemberList" class=" waves-effect waves-block">!회원 리스트 - 경</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>입양인 관리 - 민</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="/adoptee/adopteeInsert" class=" waves-effect waves-block">입양인 등록 - 민</a>
                                    </li>
                                    <li>
                                        <a href="/adoptee/adopteeList" class=" waves-effect waves-block">입양인 리스트 - 민</a>
                                    </li>
                                 </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>!블랙리스트 관리 - 민</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="/blacklist/blackListInsert" class=" waves-effect waves-block">!블랙리스트 등록 - 민</a>
                                    </li>
                                    <li>
                                        <a href="/blacklist/blackListList" class=" waves-effect waves-block">!블랙리스트 목록 - 민</a>
                                    </li>
                                 </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                    <span>!보증금 관리 - 민</span>
                                </a>
                                <ul class="ml-menu">
                                    <li>
                                        <a href="/deposit/depositInsert" class=" waves-effect waves-block">!보증금 등록 - 민</a>
                                    </li>
                                    <li>
                                        <a href="/deposit/depositList" class=" waves-effect waves-block">!보증금 리스트 - 민</a>
                                    </li>
                                 </ul>
                            </li>
                        </ul>
                    </li>
					<li>
					    <a href="javascript:void(0);" class="menu-toggle">
					        <i class="material-icons">swap_calls</i>
					        <span>!심사 관리 - 성</span>
					    </a>
					    <ul class="ml-menu">
					        <li>
					            <a href="/question/question">!심사문항관리 - 성</a>
					        </li>
					        <li>
					            <a href="/question/questionExample">!심사지표 - 성</a>
					        </li>
					        <li>
					            <a href="/screening/screeningApplication">!심사 신청 내역 - 성</a>
					        </li>
					         <li>
					            <a href="/screening/screeningComplete">!심사 완료 내역 - 성</a>
					        </li>
					    </ul>
					</li>
					<li>
					    <a href="javascript:void(0);" class="menu-toggle">
					        <i class="material-icons">swap_calls</i>
					        <span>#게시판 관리</span>
					    </a>
					    <ul class="ml-menu">
					        <li>
					            <a href="#">#유실게시판</a>
					        </li>
					        <li>
					            <a href="#">#분실신고 게시판</a>
					        </li>
					        <li>
					            <a href="#">#발견신고 게시판</a>
					        </li>
					        <li>
					            <a href="#">#찾음신고 게시판 </a>
					        </li>
					    </ul>
					</li>
					<li>
					    <a href="javascript:void(0);" class="menu-toggle">
					        <i class="material-icons">swap_calls</i>
					        <span>!신고 관리 - 경</span>
					    </a>
					    <ul class="ml-menu">
					        <li>
					            <a href="/reportlist/reportManager">!신고 종합관리 - 경</a>
					        </li>
					    </ul>
					</li>
				</ul>
            </div>
            <div th:replace="fragments/footer::footer2Fragment"></div>
            </aside>
            
	<!--회원 화면 Left Sidebar -->
	<aside id="leftsidebar" class="sidebar"  th:fragment="leftmenuFragment">
		<!-- User Info -->
		<div class="user-info">
	    	<div class="image">
	        	<img src="/images/user.png" width="48" height="60" alt="User" />
	    	</div>
			<div th:if="${session.SID}==null" class="info-container">
				<a th:href="@{/login}" style="color: yellow;">!로그인 - 경</a>
				<a th:href="@{/addMember}" style="color: yellow;">!회원가입 - 경</a>
			</div>
			<div th:if="${session.SID}!=null" class="info-container">
			    <div class="name">[[${session.SID}]] [[${session.SNAME}]]</div>
			    <div class="btn-group user-helper-dropdown">
			        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
			        <ul class="dropdown-menu pull-right">
			            <li><a href="javascript:void(0);"><i class="material-icons">person</i>내정보</a></li>
			            <li role="seperator" class="divider"></li>
			            <li><a href="javascript:void(0);"><i class="material-icons">group</i>작성글보기</a></li>
			            <li><a th:href="@{/member/logout}"><i class="material-icons">input</i>로그아웃</a></li>
			        </ul>
			    </div>
			</div>
		</div>
		<!-- User Info end -->
		<!-- 회원 Menu -->
		<div class="menu">
		    <ul class="list">
		        <li class="header">회원</li>
		        <!-- home -->
		        <li class="active">
		        	<a th:href="@{/}">
		            	<i class="material-icons">home</i>
		            	<span>Home</span>
		        	</a>
		        </li>
		        <li>
		            <a href="javascript:void(0);" class="menu-toggle">
		                <i class="material-icons">swap_calls</i>
		                <span>#유실공고</span>
		            </a>
		            <ul class="ml-menu">
		                <li>
		                    <a href="#">#유기,유실 동물등록(관)</a>
		                </li>
		                <li>
		                    <a href="#">#공고게시판</a>
		                </li>
		            </ul>
		        </li>
		        <li>
		            <a href="javascript:void(0);" class="menu-toggle">
		                <i class="material-icons">swap_calls</i>
		                <span>#분양</span>
		            </a>
		            <ul class="ml-menu">
		                <li>
		                    <a href="#">#분양 신청</a>
		                </li>
		                <li>
		                    <a href="#">#동물 분양 리스트</a>
		                </li>
		            </ul>
		        </li>
		        <li>
		            <a href="javascript:void(0);" class="menu-toggle">
		                <i class="material-icons">swap_calls</i>
		                <span>!입양 - 성</span>
		            </a>
		            <ul class="ml-menu">
		                <li>
		                    <a href="/adoption/adoptionReview">!입양심사 - 성</a>
		                </li>
		                <li>
		                    <a href="/adoption/adoptionApply">!입양 신청(심사 통과) - 성</a>
		                </li>
		            </ul>
		        </li>
		        <li>
		            <a href="javascript:void(0);" class="menu-toggle">
		                <i class="material-icons">swap_calls</i>
		                <span>!보호동물 신고 - 경</span>
		            </a>
		            <ul class="ml-menu">
		                <li>
		                    <a href="#">#신고게시판</a>
		                </li>
		                <li>
		                    <a th:href="@{/reportlist/searchReport}">!유기,유실 신고 - 경</a>
		                </li>
		                  <li>
		                    <a href="/reportlist/lostreport">!분실 신고 - 경</a>
		                </li>
		                 <li>
		                    <a href="#">#반환(찾음) 신고</a>
		                </li>
		            </ul>
		        </li>
		        <li>
		            <a href="javascript:void(0);" class="menu-toggle">
		                <i class="material-icons">swap_calls</i>
		                <span>!후기 리스트 - 성</span>
		            </a>
		            <ul class="ml-menu">
		                <li>
		                    <a href="/board/notice">!후기 게시판 - 성</a>
		                </li>
		            </ul>
		        </li>
			</ul>
		</div>
		<div th:replace="fragments/footer::footerFragment"></div>
	</aside>    
</html>