<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">
	
<th:block layout:fragment="customTitle">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="container-fluid">
			<div class="card">
				<div class="header">
					<h2>시설등록</h2>
				</div>
				<div class="body">
					<form action="/implement/implementList" method="POST">
						<div class="row">
							<div class="col-md-4">
			                    <div class="input-group">
			                        <div class="form-line">
										시설종류
			                            <input type="text" class="form-control" name="implementType" placeholder="implementType">
			                        </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										입고수량
			                            <input type="number" class="form-control" name="implementReceiptCount" placeholder="implementReceiptCount">
			                        </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										단가
			                            <input type="number" class="form-control" name="implementPrice" placeholder="implementPrice">
			                        </div>
								</div>
							</div>
						</div>
						<div class="row">
							<!-- <div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										총수량
			                            <input type="text" class="form-control" name="implementAmount" placeholder="implementAmount">
			                        </div>
								</div>
							</div> -->
							<!-- <div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										재고
			                            <input type="number" class="form-control" name="implementRemain" placeholder="implementRemain">
			                        </div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										파손량
			                            <input type="number" class="form-control" name="implementBreakageAmount" placeholder="implementBreakageAmount">
			                        </div>
								</div>
							</div> -->
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="input-group">
			                        <div class="form-line">
										구매인
			                            <input type="number" class="form-control" name="username" placeholder="Username">
			                        </div>
								</div>
							</div>
							<div class="col-md-4">
							</div>
							<div class="col-md-4">
							</div>
						</div>
						
                        <button class="btn btn-block bg-amber waves-effect" type="submit">시설등록</button>
                        
                	</form>
				</div>
			</div>
			
		
		</div>
	</section>
</th:block> 

<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customCss">
</th:block>

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>