<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default}">
<th:block layout:fragment="customCss">

</th:block>

 <th:block layout:fragment="customTitle">
 <title>로그인</title>
 </th:block> 

 <th:block layout:fragment="customHeadScript">

</th:block> 
 <th:block layout:fragment="customContents">
 	  <section class="content">
        <div class="container-fluid">
	        <div class="card">
	        	<div class="header">
	        		로그인
	        	</div>
	        	<div class="body">
					<div class="login-page login-box">
						<div class="body">
			                <form id="loginform" action="/member/login" method="post">
			                    <div class="msg">아이디와 비번을 입력해주세요</div>
			                    <div class="demo-button">
			                    <button type="button" id="memberlogin"class="btn btn-block btn-lg btn-warning waves-effect">회원로그인</button>
			                    </div>
			                    <div class="demo-button m-t-10">
			                    <button type="button" id="adminlogin" class="btn btn-block btn-lg btn-warning waves-effect">관리자로그인</button>
			                    </div>
			                    <div class="input-group m-t-10">
			                        <span class="input-group-addon">
			                            <i class="material-icons">person</i>
			                        </span>
			                        <div class="form-line">
			                            <input type="text" class="form-control" id="memberId" name="memberId" value="id001" placeholder="아이디를 입력해주세요" required autofocus>
			                        </div>
			                    </div>
			                    <div class="input-group">
			                        <span class="input-group-addon">
			                            <i class="material-icons">lock</i>
			                        </span>
			                        <div class="form-line">
			                            <input type="password" class="form-control" id="memberPw" name="memberPw" value="pw001" placeholder="비밀번호를 입력해주세요" required>
			                        </div>
			                    </div>
		                        <button class="btn btn-block btn-lg btn bg-red waves-effect" type="submit" id="loginBtn">로그인</button>
			                 
			                    <div class="row m-t-15 m-b--20">
			                        <div class="col-xs-6">
			                            <a th:href="@{/member/addMember}">회원가입</a>
			                        </div>
			                        <div class="col-xs-6 align-right">
			                            <a href="/member/forgotPassword">비밀번호찾기</a>
			                        </div>
			                    </div>
							</form>
		            	</div>
		        	</div>
	        	</div>
	    	</div>
		</div>
	</section>
 </th:block> 

<th:block layout:fragment="customFooterScript">
    <script>
    	$(function(){
    		var mId = $('#memberId');
    		var mPw = $('#memberPw');
    		
    		$('#memberlogin').click(function(){
    			mId.val('id005');
    			mPw.val('pw005');
    			$('#loginform').submit();
    		});
    		
    		$('#adminlogin').click(function(){
    			mId.val('id001');
    			mPw.val('pw001');
    			$('#loginform').submit();
    		});
    	});
    </script>   
</th:block>
 
</html>