<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">

<th:block layout:fragment="customTitle">
	<title>기프트 등록</title>
</th:block>
<th:block layout:fragment="customCss">
<!-- Bootstrap Select Css -->
   	<link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>	

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
	            <div class="header">
	                <h2>기프트 등록</h2>
	            </div>
	            <div class="body">
	            	<div class="row clearfix">
	            		<form action="gift/giftInsert" method="post">
	            			<div class="col-md-2 col-md-offset-1">
	            				<b>기프트 종류</b>
			                    <div class="input-group colorpicker colorpicker-element">
		            				<select name="giftType">
		            					<option value="">====== 선택 ======</option>
		            					<option value="#">무료 예방 접종권</option>
										<option value="#">사료 1kg</option>
										<option value="#">3만원 상품권</option>
		            				</select>
		            			</div>
	            			</div>	
			                	<div class="col-md-4">
			                    <b>입양인 이름</b>
			                    <div class="input-group colorpicker colorpicker-element">
			                        <div class="form-line">
			                            <input type="text" name="memberName" class="form-control">
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <b>기프트 이유</b>
			                    <div class="input-group colorpicker colorpicker-element">
			                        <div class="form-line">
			                            <input type="text" name="giftReason" class="form-control">
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <b>기프트 비용</b>
			                    <div class="input-group colorpicker colorpicker-element">
			                        <div class="form-line">
			                            <input type="text" name="giftCost" class="form-control">
			                        </div>
			                    </div>
			                </div>
			                <div class="col-md-2 col-md-offset-1">
	            				<b>담당자</b>
			                    <div class="input-group colorpicker colorpicker-element">
		            				<select name="staffName">
		            					<option value="">====== 선택 ======</option>
		            					<option th:each="m : ${mlist}">[[${m}]]</option>
		            				</select>
		            			</div>
	            			</div>
			                
			                <div class="col-md-4 col-md-offset-1 p-t-10">
			                	<button type="submit" class="btn btn-primary btn-lg">기프트  등록</button>
			                </div>
	            		</form>
		            </div>
	            </div>
	        </div>
		</div>
	</section>
</th:block>

<th:block layout:fragment="customHeadScript">
</th:block> 
<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>
