<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="@{layout/default2}">

<th:block layout:fragment="customCss">
	<!-- Bootstrap Select Css -->
    <link href="../../plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
</th:block>

<th:block layout:fragment="customTitle">
	<title>기프트 수정</title>
</th:block> 
<th:block layout:fragment="customHeadScript">
</th:block> 

<th:block layout:fragment="customContents">
	<section class="content">
		<div class="col-lg-12">
			<div class="card">
				<div class="header">
					<h2>기프트 수정</h2>
				</div>
				<form action="gift/giftUpdate" method="post">
				<div class="body">
					<div class="clearfix">
							<div class="row">
				      			<div class="col-md-3">
				      				<b>회원 아이디</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memberId" class="form-control" th:value="1111" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-3 col-md-offset-1">
				      				<b>회원 이름</b>
					                <div class="input-group colorpicker colorpicker-element">
					                    <div class="form-line">
					                        <input type="text" name="memberName" class="form-control" value="이경진" readonly="readonly">
					                    </div>
					       			</div>
				      			</div>
				      			<div class="col-md-2 col-md-offset-1">
	            				<b>기프트 종류</b>
			                    <div class="input-group colorpicker colorpicker-element">
		            				<select name="giftType">
		            					<option value="">====== 선택 ======</option>
		            					<option value="#">무료 예방 접종권</option>
										<option value="#">사료 1kg</option>
										<option value="#">3만원 상품권</option>
		            				</select>
		            			</div>
	            			</div>
							</div>
		                	<div class="col-md-4">
			                    <b>기프트 이유</b>
			                    <div class="input-group colorpicker colorpicker-element">
			                        <div class="form-line">
			                            <input type="text" name="giftReason" class="form-control">
			                        </div>
			                    </div>
			                </div>
		           	</div>
           		</div>
				 <div class="body">
	            	<button type="submit" class="btn bg-amber btn-block btn-lg waves-effect">기프트 수정</button>
	            </div>
	      		</form>
	      		</div>
			</div>
				
	</section>
</th:block> 

<th:block layout:fragment="customFooterScript">
</th:block>
 
</html>
<!-- <th:block layout:fragment="customTitle">
	<title>기프트 수정 관리</title>
</th:block>
<th:block layout:fragment="customContents">
	<form action="giftUpdate" method="post">

<section class="content">
<div class="container-fluid">		
	<div class="row clearfix">
       	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           	<div class="card">
               	<div class="header">
                   	<h2>기프트 수정 관리</h2>
						<ul class="header-dropdown m-r--5">
                       		<li class="dropdown">
                           		<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            </li>
                   		</ul>
               	</div>
               	<div class="body">
						<label for="center_regist">기프트 코드</label>
                       			<div class="form-group">
                           			<div class="form-line">
                               			<input type="text" id="center_regist" class="form-control" readonly>
                           			</div>
                       			</div>
						<label for="center_regist">입양인 이름</label>
                       			<div class="form-group">
                           			<div class="form-line">
                               			<input type="text" id="center_regist" class="form-control">
                           			</div>
                       			</div>	
						<label>기프트 종류</label>
							<div class="form-group">
								<div class="form-line">
									<select>
									<option>무료 예방 접종권</option>
									<option>사료 1kg</option>
									<option>3만원 상품권</option>
									</select>
								</div>
							</div>
							<label for="center_regist">기프트 비용</label>
                       			<div class="form-group">
                           			<div class="form-line">
                               			<input type="text" id="center_regist" class="form-control">
                           			</div>
                       			</div>
                       		<label for="center_regist">기프트 주는 이유(상세내용작성)</label>
                       			<div class="form-group">
                           			<div class="form-line">
                               			<input type="text" id="center_regist" class="form-control">
                           			</div>
                       			</div>
                       		<label>담당자(데이터 가져오기)</label>
						<div class="form-group">
							<div class="form-line">
								<select>
								<option>#</option>
								<option>#</option>
								<option>#</option>
								</select>
							</div>	
						</div>		
                       		<button type="submit" class="btn btn-primary m-t-15 waves-effect">수정</button>
                       </div>
    			</div>               
			</div>
		</div>
	</div>
</section>
</form>
</th:block>
<th:block layout:fragment="customCss">
 Multi Select Css
    <link href="../../plugins/multi-select/css/multi-select.css" rel="stylesheet">
    Latest compiled and minified CSS
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

</th:block>
</html> -->